.attribution {
  font-size: 1.3rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: "Hanken Grotesk", sans-serif;
  display: grid;
  place-content: center;
}

.content {
  margin-bottom: 3rem;
  box-shadow: 1.5rem 2rem 4rem rgba(200, 199, 255, 0.4);
  border-radius: 2.5rem;
  display: flex;
}

.result {
  width: 30rem;
  padding: 3rem;
  color: rgb(200, 199, 255);
  font-size: 1.8rem;
  text-align: center;
  background-image: linear-gradient(rgb(120, 87, 255), rgb(46, 43, 233));
  border-radius: 2.5rem;
}
.result__title {
  font-size: 2.3rem;
}
.result__score {
  width: 17rem;
  height: 17rem;
  margin: 2.5rem auto;
  border-radius: 50%;
  background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  display: grid;
  place-content: center;
}
.result__points {
  font-size: 6rem;
  font-weight: bold;
  color: white;
}
.result__subtitle {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: white;
}

.subject {
  padding: 1.3rem 1.6rem;
  font-size: 1.4rem;
  border-radius: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subject__stat {
  display: flex;
}
.subject__stat span {
  margin-left: 1rem;
  font-weight: 600;
}
.subject__stat-reaction {
  color: rgb(255, 87, 87);
}
.subject__stat-memory {
  color: rgb(255, 176, 31);
}
.subject__stat-verbal {
  color: rgb(0, 189, 145);
}
.subject__stat-visual {
  color: rgb(17, 37, 212);
}
.subject__score {
  font-weight: bold;
  color: hsl(224, 30%, 27%);
}
.subject_reaction {
  background-color: rgba(255, 87, 87, 0.1);
}
.subject_memory {
  background-color: rgba(255, 176, 31, 0.1);
}
.subject_verbal {
  background-color: rgba(0, 189, 145, 0.1);
}
.subject_visual {
  background-color: rgba(17, 37, 212, 0.1);
}
.subject p {
  color: rgb(200, 199, 255);
  font-weight: 800;
}

.summary {
  width: 30rem;
  padding: 3rem;
}
.summary__title {
  color: hsl(224, 30%, 27%);
}
.summary__details {
  margin-top: 2.5rem;
  height: 62%;
  display: grid;
  align-content: space-between;
}
.summary__btn {
  display: inline-block;
  width: 100%;
  margin-top: 3rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 10rem;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: hsl(224, 30%, 27%);
  cursor: pointer;
  position: relative;
  animation: moveInBottom 0.5s ease-out 0.3s;
  animation-fill-mode: backwards;
  transition: all 0.3s;
}
.summary__btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: hsl(224, 30%, 27%);
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}
.summary__btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 1.2rem 2rem rgba(48, 59, 90, 0.2);
}
.summary__btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.summary__btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.8rem 1rem rgba(48, 59, 90, 0.2);
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(7rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
