.subject {
  padding: 1rem 1.3rem;
  font-size: 1.4rem;
  border-radius: .8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__stat {
    display: flex;

    span {
      margin-left: 1rem;
      font-weight: 600;
    }

    &-reaction {
      color: $color-Light-red;
    }

    &-memory {
      color: $color-Orangey-yellow;
    }

    &-verbal {
      color: $color-Green-teal;
    }

    &-visual {
      color: $color-Cobalt-blue;
    }
  }

  &__score {
    font-weight: bold;
    color: $color-Dark-gray-blue;
  }

  &_reaction {
    background-color: rgba(255, 87, 87, .1);
  }

  &_memory {
    background-color: rgb(255, 176, 31, .1);
  }

  &_verbal {
    background-color: rgb(0, 189, 145, .1);
  }

  &_visual {
    background-color: rgb(17, 37, 212, .1);
  }

  p {
    color: $color-Light-lavender;
    font-weight: 800;
  }

}
