.summary {
  width: 30rem;
  padding: 3rem;

  &__title {
    color: $color-Dark-gray-blue;
  }

  &__details {
    margin-top: 2.5rem;
    height: 55%;
    display: grid;
    align-content: space-between;
  }
}